/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto&display=swap');

* {
    margin: 0;
}

body {
    width: 100%;
    background-color: white;
    font-family: 'DM Sans', sans-serif;
}

.img_cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 2px -1px rgba(0, 1, 1, 0.619);
    height: 13vh;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 2vw;
}

nav ul li {
    margin-right: 1vw;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

nav ul li a:hover {
    color: rgb(76, 76, 255);
}

nav ul li button {
    background-color: rgb(201, 248, 140);
    border-radius: 20px;
    padding: 2vh;
    cursor: pointer;
}

@media (max-width:480px) {
    header {
        display: block;
        height: 10vh;
    }

    .logo {
        justify-content: center;
    }

    nav ul {
        margin-top: 2vh;
        justify-content: center;
    }

    nav ul li button {
        padding: 10px;
    }

}

.logo {
    cursor: pointer;
    display: flex;
    margin-left: 1vw;
    align-items: center;
}

.logo:hover {
    opacity: 0.5;
}

.logo img {
    height: 10vh;
    width: 10vw;
} */
.banner-image {
    position: relative;
    background-image: url('img/bg2.png');
    height: 600px;
    background-position: top;
    background-size: cover;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.booking main {
    background-color: white;

    height: 100%;
    padding-top: 2%;

}

* {
    box-sizing: border-box;

}

.col-75 input[type=text],
.col-75 input[type=date],
.col-75 input[type=email],
.col-75 select {
    width: 100%;
    padding: 12px;
    border: none;
    border: 1px solid #e9ecf4;
    outline: none;
    border-radius: 4px;
    resize: vertical;
    transition: border-bottom 0.5s ease-in-out;

}

.col-75 input[type=text]:focus,
.col-75 input[type=email]:focus {
    border-bottom: 3px solid rgb(76, 76, 255);
}

.col-75 input[type=text]::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(76, 76, 255);
    /* Change to your desired border color */
    transition: width 0.5s ease-in-out;
}

.col-75 input[type=text]:focus::after {
    width: 100%;
}


.package_info hr,
.frm_container form hr {
    background-color: rgb(76, 76, 255);
    height: 0.5px;
    border: none;
}




#dob,
#city,
#country {
    width: 70%;
    margin-left: 33%;
}

#ph_number,
#state,
#zip_code {
    width: 70%;
    margin-left: 30%;
}

#lb_ph_number,
#lb_state,
#lb_zip_code {
    padding-left: 5%;
    position: absolute;
}


label {
    padding: 12px 12px 12px 0;
    display: block;
}

.frm_container .row input[type=submit] {
    background-color: rgb(76, 76, 255);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 1.0em;
    margin-bottom: 2%;
}

.add_button {
    background-color: rgb(76, 76, 255);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.frm_container .row input[type=submit]:hover,
.add_button:hover {
    background-color: #fff;
    color: rgb(76, 76, 255);
    border: 2px solid rgb(76, 76, 255);
    box-shadow: 0px 5px 30px 0px rgba(214, 215, 216, 0.57);
}

.booking .package_info {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 5px 30px 0px rgba(214, 215, 216, 0.57);
    margin-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    /*  background-color: rgb(242, 242, 254, .7); */
    border-radius: 10px;
    box-sizing: border-box;

}

/* Styling for headings */
.booking .package_info .row h1 {
    color: rgb(76, 76, 255);
    padding: 2%;
    padding-left: 35%;
}

.booking .package_info .row .col-50 h3 {
    color: rgb(76, 76, 255);
    margin-top: 20px;
}

/* Styling for ordered and unordered lists */
.booking .package_info .row .col-50 ul,
.booking .package_info .row .col-50 ol {
    padding-left: 20px;
}

.frm_container {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10%;

}

.frm_container form {
    box-sizing: border-box;
    box-shadow: 0px 5px 30px 0px rgba(214, 215, 216, 0.57);
    /* background-color: rgb(242, 242, 254, .7); */
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 1%;

}

.frm_container h1 {
    text-align: center;
    padding: 2%;
    color: rgb(76, 76, 255);

}

.frm_container h2 {
    color: rgb(76, 76, 255);
}

#traveler_info_heading {
    background-color: rgb(76, 76, 255);
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    margin-top: 2%;
    margin-bottom: 2%;

}

#down-icon {
    float: right;
    position: relative;
    margin-top: -4.75%;
    margin-right: 1.5%;
    font-size: 25px;
    color: #fff;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    input[type=text] {
        margin: 1%;
    }

    #dob,
    #city,
    #country,
    #ph_number,
    #zip_code,
    #lb_zip_code,
    #state,
    #lb_ph_number,
    #lb_state {

        margin-left: 2%;
        position: relative;
    }

    #down-icon {
        margin-top: -40px;
        margin-right: 2%;
    }
}

















/* 
.footer {
    background-color: #f2f2fe;
    padding: 70px 0;
}

.footer_row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #000000;
    padding-left: 8px;
}

.footer-copyright {
    text-align: center;
    margin-top: 40px;
}

.footer-copyright p {
    color: #000000;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #ffffff;
    background-color: #000000;
}

/*responsive
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }

    .footer-copyright {
        text-align: start;
        margin-top: 10px;
    }
} */