.banner-image {
    position: relative;
    background-image: url('img/bg2.png');
    height: 600px;
    background-position: top;
    background-size: cover;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.booking main {
    background-color: white;

    height: 100%;
    padding-top: 2%;

}

* {
    box-sizing: border-box;

}

.col-75 input[type=text],
.col-75 input[type=date],
.col-75 input[type=email],
.col-75 select,
#countrycode {
    width: 100%;
    padding: 12px;
    border: none;
    border: 1px solid #e9ecf4;
    outline: none;
    border-radius: 4px;
    resize: vertical;
    transition: border-bottom 0.5s ease-in-out;

}

.col-75 input[type=text]:focus,
.col-75 input[type=email]:focus {
    border-bottom: 3px solid rgb(76, 76, 255);
}

.col-75 input[type=text]::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(76, 76, 255);
    /* Change to your desired border color */
    transition: width 0.5s ease-in-out;
}

.col-75 input[type=text]:focus::after {
    width: 100%;
}


.package_info hr,
.frm_container form hr {
    background-color: rgb(76, 76, 255);
    height: 0.5px;
    border: none;
}




#dob,
#city,
#country {
    width: 70%;
    margin-left: 33%;
}

#state,
#zip_code {
    width: 70%;
    margin-left: 30%;
}

#countrycode {
    width: 100%;
    margin-left: 80%;
    margin-top: -6%;
}

#ph_number {
    width: 100%;
    margin-left: 50%;
    margin-top: -3%;
}

#lb_ph_number,
#lb_state,
#lb_zip_code {
    padding-left: 5%;
    position: absolute;
}


label {
    padding: 12px 12px 12px 0;
    display: block;
}

.frm_container .row input[type=submit] {
    background-color: #fff;
    color: rgb(76, 76, 255);
    box-shadow: 0px 5px 30px 0px rgba(214, 215, 216, 0.57);
    border: 1px solid rgb(76, 76, 255);
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 1.0em;
    margin-bottom: 2%;
}

.add_button {

    background-color: #fff;
    color: rgb(76, 76, 255);
    box-shadow: 0px 5px 30px 0px rgba(214, 215, 216, 0.57);
    padding: 12px 20px;
    border: 1px solid rgb(76, 76, 255);
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.frm_container .row input[type=submit]:hover,
.add_button:hover {
    background-color: rgb(76, 76, 255);
    color: #fff;
    border: 2px solid rgb(76, 76, 255);
    box-shadow: 0px 5px 30px 0px rgba(214, 215, 216, 0.57);
}

.booking .package_info {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 5px 30px 0px rgba(214, 215, 216, 0.57);
    margin-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    /*  background-color: rgb(242, 242, 254, .7); */
    border-radius: 10px;
    box-sizing: border-box;

}

/* Styling for headings */
.booking .package_info .row h1 {
    color: rgb(76, 76, 255);
    padding: 2%;
}

.booking .package_info .row .col-50 h3 {
    color: rgb(76, 76, 255);
    margin-top: 20px;
}

/* Styling for ordered and unordered lists */
.booking .package_info .row .col-50 ul,
.booking .package_info .row .col-50 ol {
    padding-left: 20px;
    font-style: italic;
}

.booking .package_info .row .col-50 img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
    box-shadow: 0px 5px 30px 0px rgba(69, 78, 95, 0.57);
}

.frm_container {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10%;

}

.frm_container form {
    box-sizing: border-box;
    box-shadow: 0px 5px 30px 0px rgba(214, 215, 216, 0.57);
    /* background-color: rgb(242, 242, 254, .7); */
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 1%;

}

.frm_container h1 {

    padding: 2%;
    color: rgb(76, 76, 255);

}

.frm_container h2 {
    color: rgb(76, 76, 255);
}

#traveler_info_heading {
    background-color: rgb(76, 76, 255);
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    margin-top: 2%;
    margin-bottom: 2%;

}

#down-icon {
    float: right;
    position: relative;
    margin-top: -4.75%;
    margin-right: 1.5%;
    font-size: 25px;
    color: #fff;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 768px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {

    .col-25,
    .col-50,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    input[type=text] {
        margin: 1%;
    }

    #dob,
    #traveler_info_heading,
    #ph_number,
    #countrycode,
    #city,
    #country,
    #zip_code,
    /* #lb_zip_code, */
    #state,
    #lb_ph_number {

        margin-left: 0%;
        position: relative;
        width: 100%;
    }

    #lb_zip_code,
    #lb_state {
        margin-left: -5%;
        position: relative;
        width: 100%;
    }

    #dob {
        width: 80%;
        margin-left: 0%;
    }

    #countrycode {
        margin-left: -4%;
        margin-top: 1%;
        width: 100%;
    }

    #ph_number {
        margin-left: -4%;
        margin-top: 1%;
        width: 100%;
        padding-right: 0;

    }

    #down-icon {
        margin-top: -40px;
        margin-right: 2%;
    }
}