@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    background-color: rgb(221, 243, 159);
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(182, 182, 140);

    box-shadow: 0 2px 2px -1px rgba(0, 1, 1, 0.619);
}

.logo {
    display: flex;
    margin-left: 1vw;
    align-items: center;
}

.logo img {
    height: 10vh;
    width: 10vw;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

/*Banner-image with relative position and text-align left*/
.banner-img {
    position: relative;
    text-align: left;
}

/*Banner-text and button with absolute position top and left padding , color , font-size and family*/
#banner-text,
#banner-button {
    position: absolute;
    top: 20%;
    left: 5%;
    color: rgb(182, 182, 140);
    font-size: 5em;
    font-family: cursive;
}

/*css of Banner-button */
#banner-button {
    top: 55%;
    color: white;
    font-size: 1.5em;
    padding: 20px;
    background-color: rgb(182, 182, 140);
    border-radius: 10px;
    border: none;
    left: 5%;
    cursor: pointer;
    transition: .5s;
}

/*hover effect on Banner button*/
#banner-button:hover {

    background-color: rgb(5, 175, 209);
    transition: .5s;
}

/*Common css for where_to_go class*/
.where_to_go {
    display: flex;
    background-color: rgb(182, 182, 140);
    padding: 2.5em;
}

/*common css for input tag*/
input {

    border-radius: 5%;
    margin-left: 5%;
    font-size: 1.5em;
    background-color: transparent;
    border-color: white;
    border-style: double;
    color: rgb(253, 253, 246);
}

/*css for H3 tag which is situatated in where_to_go class */
.where_to_go h3 {
    margin-left: 10%;
    font-size: 35px;
    color: rgb(253, 253, 246);
    font-family: cursive;
}

/*css for where_to_go class button*/
.where_to_go button {
    margin-left: 5%;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 5%;
    font-family: cursive;
    background-color: rgb(253, 253, 246);
    color: rgb(182, 182, 140);
    border-style: double;
    border-color: rgb(182, 182, 140);
}

/*hover effect on where_to_go class button*/
.where_to_go button:hover {

    background-color: rgb(182, 182, 140);
    color: rgb(253, 253, 246);
    border-color: rgb(253, 253, 246);
    transition: .5s;
}

/* common css for popular_destination class */
.popular_destination {
    text-align: center;
    font-family: cursive;
    max-width: 1100px;
    margin: 0 auto;
}

/* common css for subscribe_mail class */
.subscribe_mail {
    display: flex;
    background-color: rgb(156, 156, 3);
    padding: 2.5em;
}

/* css for H3 tag situatated in subscribe_mail class */
.subscribe_mail h3 {
    margin-left: 15%;
    font-size: 35px;
    color: rgb(253, 253, 246);
    font-family: cursive;
}

/* css for subscribe_mail button */
.subscribe_mail button {
    margin-left: 2%;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 5%;
    font-family: cursive;
    background-color: rgb(182, 182, 140);
    color: rgb(253, 253, 246);
    border-style: double;
    border-color: rgb(182, 182, 140);
}

/* hover effect on Subscribe_mail button */
.subscribe_mail button:hover {

    background-color: rgb(253, 253, 246);
    color: rgb(182, 182, 140);
    border-color: rgb(253, 253, 246);
    transition: .5s;
}

<<<<<<< HEAD
.destination-image {
    width: 30%;
    position: relative;
    margin-bottom: 20px;
}

.destination-images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.destination-image img {
    max-width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
}

.image-tags {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.destination-name {
    color: #fff;
    font-size: 25px;
}

.destination-tag {
    background: #9c9c04;
    color: #fff;
    border-radius: 12px;
    padding: 0 10px;
}

.popular_destination .destination-tag {
    position: absolute;
    left: 10px;
    top: 10px;
}

.popular_destination .destination-image img {
    margin-bottom: 0;
}

.destination-sub-content  h3 {
    margin: 0;
}

.destination-sub-content {
    text-align: left;
}

.destination-sub-header {
    color: #666;
}

.review-stars {
    float: left;
    color: orange;
}

.reviews-span {
    font-size: 14px;
}

.duration-span {
    float: right;
}

.load-more-btn {
    line-height: 40px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #9c9c04;
    padding: 0 20px;
    font-size: 20px;
    border-radius: 4px;
}

.travel_variation_area {
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: cursive;
}

.travel_containers {
    max-width: 30%;
}

.travel_icon {
    font-size: 45px;
    color: #9c9c04;
}

.travel_variation_area h3 {
    margin: 10px 0;
    line-height: 20px;
=======


.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    /* color: #ffffff; */
    color: #f28130;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    /* color: #ffffff; */
    color: #f28130;
    padding-left: 8px;
}

.footer-copyright {
    text-align: center;
    margin-top: 40px;
}

.footer-copyright p {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    /* color: #24262b; */
    color: #ffffff;
    /* background-color: #ffffff; */
    background-color: #f28130;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }

    .footer-copyright {
        text-align: start;
        margin-top: 10px;
    }
>>>>>>> e2b53b7aa0a2bca777736b2db768c254617c2565
}